<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta charset="UTF-8">
    <title>首页</title>
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        .el-scrollbar__wrap {
            overflow-x: hidden;
        }
    </style>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../static/js/element-ui/2.11.0/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../static/css/vant.css">
<!--    <link rel="stylesheet" href="../static/js/vue-pdf/src/annotationLayer.css"></link>-->
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/vue-router.js"></script>
    <script src="../static/js/element-ui/2.11.0/lib/index.js"></script>
    <script src="../static/js/httpVueLoader.js"></script>
    <script src="../static/js/axios.min.js"></script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/vant.min.js"></script>
    <script src="../static/js/pdfjs/build/pdf.js"></script>
    <script src="../static/js/html2canvas.min.js"></script>
</head>
<body>
<div id="app">
    <div id="userid" v-show="false" th:text="${map.userid}"></div>
    <router-view/>
</div>
</body>
<script>
    const router = new VueRouter({
        model: 'history',
        routes: [
            {
                path: '/home',
                name: 'home',
                component: httpVueLoader('../static/vue/index.vue'),
            },
            {
                path: '/card',
                name: 'card',
                component: httpVueLoader('../static/vue/cardUpload.vue'),
            },
            {
                path: '/image',
                name: 'image',
                component: httpVueLoader('../static/vue/imageUpload.vue'),
            },
            {
                path: '/file',
                name: 'file',
                component: httpVueLoader('../static/vue/FileUpload.vue'),
            },
            {
                path: '/error',
                name: 'error',
                component: httpVueLoader('../static/vue/error.vue'),
            },
        ]
    });

    new Vue({
        el: '#app',
        router,
        data() {

        },
        mounted() {
                let userid= $("#userid").text();
                // this.$router.push({path: '/home', query: {userid: userid}})
                axios.post("/verify",{
                    "userid":userid
                }).then(r=>{
                    if(r.data.status=="200"){
                        let loginName=r.data.loginName;
                        this.$router.push({path: '/home', query: {userid: loginName}})
                    }else{
                        this.$router.push("/error")
                    }
                }).catch(e=>{
                    this.$toast(e.getMessages())
                })
        },
        methods: {
        }
    })
    // router.beforeEach(
    //     /**
    //      *
    //      * @param to 即将显示的路由信息
    //      * @param from 来源路由信息
    //      * @param next 继续执行下一个动作的函数对象
    //      */
    //     (to, from, next) => {
    //         // 获取到要显示的页面路径
    //         const path = to.path;
    //         // 判断id是否存在
    //
    //
    //     })
</script>
</html>